// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "@unsass/rem";

// ------------------------------------------------------------------------- //
// Public mixins
// ------------------------------------------------------------------------- //

@mixin styles() {
    html,
    body {
        @include rem.baseline;

        background: var(--color-background, #fff);
        margin: 0;
        padding: 0;
    }

    html {
        box-sizing: border-box;
    }

    * {
        box-sizing: inherit;

        // --------------------------------- //
        // Before / After
        // --------------------------------- //

        &::before,
        &::after {
            box-sizing: inherit;
        }
    }

    .wrapper {
        display: flex;
        min-height: 100dvh;
        width: 100%;
        height: 100%;
        place-items: center;
        padding: 32px;
        position: relative;
    }

    h1 {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    .logo {
        display: block;
        max-width: 100%;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .contact-link {
        display: block;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: var(--color-text, #000);
        text-decoration: none;
        position: absolute;
        right: 20px;
        bottom: 20px;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-background: #181818;
            --color-text: #fff;
        }
    }
}
