@charset "UTF-8";

// ============================================================================================= //
//                                            STYLES                                             //
// ============================================================================================= //

@use "./mixins";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@include mixins.styles;
